In [229]:
import pandas as pd
import numpy as np

In [230]:
pd.set_option('max_columns', 40)
pd.set_option('max_colwidth', 5000)

In [231]:
df_crash = pd.read_csv("data_100000.csv", sep=',')

In [232]:
df_crash.crash_date = df_crash.crash_date.astype('datetime64[ns]')

In [233]:
df_crash.crash_time = df_crash.crash_time.astype('datetime64[ns]')

In [234]:
df_crash['crash_year'] = df_crash.crash_date.dt.year
df_crash['crash_month'] = df_crash.crash_date.dt.month
df_crash['crash_day'] = df_crash.crash_date.dt.day
df_crash['crash_hour'] = df_crash.crash_time.dt.hour
df_crash['crash_minute'] = df_crash.crash_time.dt.minute

In [235]:
df_crash = df_crash.drop(columns=['crash_date', 'crash_time', 'location'])

In [236]:
df_crash.duplicated().any()

False

In [237]:
lower_list = ['borough', 'on_street_name', 'off_street_name', 'cross_street_name', 'contributing_factor_vehicle_1', 'contributing_factor_vehicle_2', 'contributing_factor_vehicle_3', 'contributing_factor_vehicle_4', 'contributing_factor_vehicle_5', 'vehicle_type_code1', 'vehicle_type_code2', 'vehicle_type_code_3', 'vehicle_type_code_4', 'vehicle_type_code_5']

def to_lower(column_name:str):
    df_crash[column_name] = df_crash[column_name].apply(lambda x:x.lower() if type(x) == str else x)
    return df_crash[column_name]

for column_name in lower_list:
    df_crash[column_name] = to_lower(column_name)

In [238]:
df_crash = df_crash.rename(columns={'vehicle_type_code1': 'vehicle_type_1', 'vehicle_type_code2': 'vehicle_type_2', 'vehicle_type_code_3': 'vehicle_type_3', 'vehicle_type_code_4': 'vehicle_type_4', 'vehicle_type_code_5': 'vehicle_type_5'})

In [239]:
df_crash.vehicle_type_1.value_counts()

sedan                                  46790
station wagon/sport utility vehicle    35766
taxi                                    3479
pick-up truck                           2616
box truck                               1952
                                       ...
pumper                                     1
front-load                                 1
nys a                                      1
e skate bo                                 1
freig                                      1
Name: vehicle_type_1, Length: 281, dtype: int64

In [240]:
df_crash = df_crash.set_index(df_crash.collision_id)

In [241]:
fill_locations = ['on_street_name', 'off_street_name', 'cross_street_name', 'borough']

for col_name in  fill_locations:
    df_crash[col_name] = df_crash[col_name].fillna('unknown')

In [242]:
df_crash.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 3654181 to 4247517
Data columns (total 31 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   borough                        100000 non-null  object
 1   zip_code                       64966 non-null   float64
 2   latitude                       91965 non-null   float64
 3   longitude                      91965 non-null   float64
 4   on_street_name                 100000 non-null  object
 5   off_street_name                100000 non-null  object
 6   cross_street_name              100000 non-null  object
 7   number_of_persons_injured      100000 non-null  int64
 8   number_of_persons_killed       100000 non-null  int64
 9   number_of_pedestrians_injured  100000 non-null  int64
 10  number_of_pedestrians_killed   100000 non-null  int64
 11  number_of_cyclist_injured      100000 non-null  int64
 12  number_of_cyclist_killed       100000 non-null  int64
 13  number_of_motorist_injured     100000 non-null  int64
 14  number_of_motorist_killed      100000 non-null  int64
 15  contributing_factor_vehicle_1  99629 non-null   object
 16  contributing_factor_vehicle_2  80757 non-null   object
 17  contributing_factor_vehicle_3  8761 non-null    object
 18  contributing_factor_vehicle_4  2240 non-null    object
 19  contributing_factor_vehicle_5  667 non-null     object
 20  collision_id                   100000 non-null  int64
 21  vehicle_type_1                 99260 non-null   object
 22  vehicle_type_2                 73411 non-null   object
 23  vehicle_type_3                 8329 non-null    object
 24  vehicle_type_4                 2147 non-null    object
 25  vehicle_type_5                 646 non-null     object
 26  crash_year                     100000 non-null  int64
 27  crash_month                    100000 non-null  int64
 28  crash_day                      100000 non-null  int64
 29  crash_hour                     100000 non-null  int64
 30  crash_minute                   100000 non-null  int64
dtypes: float64(3), int64(14), object(14)
memory usage: 24.4+ MB

In [243]:
df_crash =  df_crash.drop(columns=['collision_id'])

In [244]:
df_crash = df_crash.sort_index(ascending=True)

In [245]:
factor_fill = ['contributing_factor_vehicle_1', 'contributing_factor_vehicle_2', 'contributing_factor_vehicle_3', 'contributing_factor_vehicle_4', 'contributing_factor_vehicle_5']

for col_name in factor_fill:
    df_crash[col_name] = df_crash[col_name].fillna('not applicable')

In [246]:
df_crash.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 2568 to 4353706
Data columns (total 30 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   borough                        100000 non-null  object
 1   zip_code                       64966 non-null   float64
 2   latitude                       91965 non-null   float64
 3   longitude                      91965 non-null   float64
 4   on_street_name                 100000 non-null  object
 5   off_street_name                100000 non-null  object
 6   cross_street_name              100000 non-null  object
 7   number_of_persons_injured      100000 non-null  int64
 8   number_of_persons_killed       100000 non-null  int64
 9   number_of_pedestrians_injured  100000 non-null  int64
 10  number_of_pedestrians_killed   100000 non-null  int64
 11  number_of_cyclist_injured      100000 non-null  int64
 12  number_of_cyclist_killed       100000 non-null  int64
 13  number_of_motorist_injured     100000 non-null  int64
 14  number_of_motorist_killed      100000 non-null  int64
 15  contributing_factor_vehicle_1  100000 non-null  object
 16  contributing_factor_vehicle_2  100000 non-null  object
 17  contributing_factor_vehicle_3  100000 non-null  object
 18  contributing_factor_vehicle_4  100000 non-null  object
 19  contributing_factor_vehicle_5  100000 non-null  object
 20  vehicle_type_1                 99260 non-null   object
 21  vehicle_type_2                 73411 non-null   object
 22  vehicle_type_3                 8329 non-null    object
 23  vehicle_type_4                 2147 non-null    object
 24  vehicle_type_5                 646 non-null     object
 25  crash_year                     100000 non-null  int64
 26  crash_month                    100000 non-null  int64
 27  crash_day                      100000 non-null  int64
 28  crash_hour                     100000 non-null  int64
 29  crash_minute                   100000 non-null  int64
dtypes: float64(3), int64(13), object(14)
memory usage: 23.7+ MB

In [248]:
vehicle_fill = ['vehicle_type_1', 'vehicle_type_2', 'vehicle_type_3', 'vehicle_type_4', 'vehicle_type_5']

for col_name in vehicle_fill:
    df_crash[col_name] = df_crash[col_name].fillna('not applicable')

In [ ]:
vehicle_list = ['ATV', 'bicycle', 'car/suv', 'ebike', 'escooter', 'truck/bus', 'motorcycle', 'other']

In [249]:
df_crash.head()

,borough,zip_code,latitude,longitude,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,vehicle_type_1,vehicle_type_2,vehicle_type_3,vehicle_type_4,vehicle_type_5,crash_year,crash_month,crash_day,crash_hour,crash_minute
collision_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2568,unknown,NaN,NaN,NaN,canal street,washington street,unknown,0,0,0,0,0,0,0,0,unspecified,unspecified,not applicable,not applicable,not applicable,passenger vehicle,sport utility / station wagon,not applicable,not applicable,not applicable,2013,5,5,11,32
69010,unknown,NaN,NaN,NaN,edgecombe avenue,west 155 street,unknown,1,0,0,0,0,0,1,0,other vehicular,other vehicular,not applicable,not applicable,not applicable,passenger vehicle,other,not applicable,not applicable,not applicable,2013,4,19,12,5
74294,unknown,NaN,NaN,NaN,bruckner boulevard,east 138 street,unknown,0,0,0,0,0,0,0,0,driver inattention/distraction,unspecified,not applicable,not applicable,not applicable,passenger vehicle,livery vehicle,not applicable,not applicable,not applicable,2013,4,24,18,30
127733,unknown,NaN,NaN,NaN,flatbush avenue,avenue k,unknown,1,0,0,0,0,0,1,0,unspecified,unspecified,not applicable,not applicable,not applicable,sport utility / station wagon,other,not applicable,not applicable,not applicable,2013,4,29,16,50
210591,unknown,NaN,NaN,NaN,merrick boulevard,108 avenue,unknown,0,0,0,0,0,0,0,0,backing unsafely,unspecified,not applicable,not applicable,not applicable,passenger vehicle,other,not applicable,not applicable,not applicable,2013,4,10,16,0